<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lustria&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/0d93e1d936.js"
			crossorigin="anonymous"
		></script>
		<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="styles/cointracker.css" />
		<title>coinTracker</title>
	</head>

	<body class="fadeIn" id="fadeIn">
		<header class="header">
			<div class="container">
				<h1 class="coinTitle" id="coinTitle">
					coinTracker<i class="fab fa-bitcoin"></i>
				</h1>
				<h4 class="coinSub">Real-time Bitcoin Tracker</h4>
			</div>
			<div class="controls controlPos">
				<div class="customMenu" id="customMenu">
					<div class="customTitle" id="customTitle">
						<span id="customTitleSpan">Currency </span>
						<i class="fas fa-chevron-down"></i>
					</div>
					<div class="customList" id="customList">
						<div class="customItem">Currency</div>
						<div class="customItem">EUR</div>
						<div class="customItem">GBP</div>
						<div class="customItem">JPY</div>
						<div class="customItem">RUB</div>
						<div class="customItem customBorder">USD</div>
					</div>
				</div>
				<div class="customMenu2" id="customMenu2">
					<div class="customTitle2" id="customTitle2">
						<span id="customTitleSpan2">Interval </span>
						<i class="fas fa-chevron-down"></i>
					</div>
					<div class="customList2" id="customList2">
						<div class="customItem2">Interval</div>
						<div class="customItem2">30sec</div>
						<div class="customItem2">1min</div>
						<div class="customItem2">2min</div>
						<div class="customItem2 customBorder">5min</div>
					</div>
				</div>
				<button type="button" class="btn submit1" id="submit1">Submit</button>
			</div>
		</header>
		<div class="timeContainer">
			<div class="clock">
				<span class="clock-capital">London</span>
				<span class="clock-time"></span>
				<span class="clock-ampm">AM</span>
			</div>
		</div>
		<p class="errorText1" id="errorText1">
			Oops! Server not responding. Try again later.
		</p>
		<div class="chartContainer">
			<div class="marquee">
				<div class="infoDiv" id="infoDiv">
					<div class="high">
						<p class="currentHigh">High:</p>
						<p class="currentValue" id="currentHigh"></p>
					</div>
					<div class="low">
						<p class="currentLow">Low:</p>
						<p class="currentValue" id="currentLow"></p>
					</div>
				</div>
			</div>
			<div class="infoDiv2">
				<p class="coinText">
					Value: <span id="coinType"></span
					><span class="coinInt" id="coinInt"></span>
				</p>
				<p class="coinValue">
					<i class="fas fa-chart-line"></i>
					<span class="valueInt" id="valueInt"></span
					><span class="valueIcon" id="valueIcon"></span>
				</p>
			</div>
			<canvas id="coinChart"></canvas>
			<div class="courtesyDiv">
				<p>Data supplied courtesy of Cryptonator.com</p>
			</div>
		</div>
		<section class="header2">
			<div class="container2">
				<h4 class="coinSub2">Historical Currency Data</h4>
				<p class="coinInstruct">
					Select a year to compare monthly avg or 'Average' to compare yearly
					avg
				</p>
			</div>
			<div class="controls controlPos">
				<div class="customMenu3" id="customMenu3">
					<div class="customTitle3" id="customTitle3">
						<span id="customTitleSpan3">Currency </span>
						<i class="fas fa-chevron-down"></i>
					</div>
					<div class="customList3" id="customList3">
						<div class="customItem3">Currency</div>
						<div class="customItem3">EUR</div>
						<div class="customItem3">GBP</div>
						<div class="customItem3">JPY</div>
						<div class="customItem3 customBorder">CHF</div>
					</div>
				</div>
				<div class="customMenu4" id="customMenu4">
					<div class="customTitle4" id="customTitle4">
						<span id="customTitleSpan4">Year/Avg </span>
						<i class="fas fa-chevron-down"></i>
					</div>
					<div class="customList4" id="customList4">
						<div class="customItem4">Year/Avg</div>
						<div class="customItem4">2010</div>
						<div class="customItem4">2011</div>
						<div class="customItem4">2012</div>
						<div class="customItem4">2013</div>
						<div class="customItem4">2014</div>
						<div class="customItem4">2015</div>
						<div class="customItem4">2016</div>
						<div class="customItem4">2017</div>
						<div class="customItem4 customBorder">Average</div>
					</div>
				</div>
				<div class="customMenu5" id="customMenu5">
					<div class="customTitle5" id="customTitle5">
						<span id="customTitleSpan5">Comparison </span>
						<i class="fas fa-chevron-down"></i>
					</div>
					<div class="customList5" id="customList5">
						<div class="customItem5">Comparison</div>
						<div class="customItem5">EUR</div>
						<div class="customItem5">GBP</div>
						<div class="customItem5">JPY</div>
						<div class="customItem5 customBorder">CHF</div>
					</div>
				</div>
			</div>
		</section>
		<p class="errorText2" id="errorText2">
			Oops! Server not responding. Try again later.
		</p>
		<div class="chartContainer">
			<canvas id="compChart"></canvas>
			<div class="courtesyDiv2">
				<p>Data supplied courtesy of Datahub.io</p>
			</div>
			<div class="buttonDiv">
				<button type="button" class="btn btnSpace" id="submit2">Submit</button>
				<button type="button" class="btn btnSpace btnShrink" id="chartToggle">
					Toggle
				</button>
				<button type="button" class="btn" id="reset1">Reset</button>
			</div>
			<div class="copyDiv">
				<p class="copyText">coinTracker 2021 &#169;</p>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
		<script src="scripts/cointracker.js"></script>
	</body>
</html>
