<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lustria&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/0d93e1d936.js"
			crossorigin="anonymous"
		></script>
		<link rel="icon"  type="image/x-icon" href="/img/favicon.png" />
		<link rel="stylesheet" href="styles/index.css" />
		<title>coinTracker</title>
	</head>

	<body>
		<header class="coinHeader" id="header">
			<div class="coinImg"></div>
		</header>
		<div class="coinContainer">
			<div class="container">
				<div class="title" id="title">
					<h1 class="coinTitle">coinTracker<i class="fab fa-bitcoin"></i></h1>
				</div>
				<p class="coinText" id="coinText">
					coinTracker app displays bitcoin values in near real-time. An
					additional chart displays historical currency data.
				</p>
			</div>
			<div class="btn" id="btn">
				<button class="coinBtn" id="coinBtn">Go!</button>
			</div>
		</div>
		<script src="scripts/index.js"></script>
	</body>
</html>
